<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.pcx.providerrunner.daemon</string>

    <key>RunAtLoad</key>
    <true/>

    <!-- <key>StartInterval</key>
    <integer>20</integer> -->

    <key>StandardErrorPath</key>
    <string>/Users/Shared/PCX/ProviderRunner/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/Shared/PCX/ProviderRunner/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/Shared/PCX/ProviderRunner</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/Shared/PCX/ProviderRunner/providerRunner.sh</string>
    </array>

  </dict>
</plist>
